/* Define custom colors using CSS variables */
:root {
    --raise-color: #deb5e6; /* Color for raise buttons */
    --raise-hover-color: hsl(291, 100%, 60%); /* Hover color for raise buttons */
}

/* Button styles for both <a> and <button> elements */
.raise,
.raise:hover,
.raise:focus {
    color: #fff;
    background-color: var(--raise-color);
    border: none;
    padding: 1em 2em;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0.3em;
}

.raise:hover,
.raise:focus {
    background-color: var(--raise-hover-color);
}

/* Styling for buttons container */
.buttons {
    text-align: center;
    margin-top: 20px;
}
